target
.project
.classpath
.idea/
.pydevproject
*.iml
*.prefs
.sonar
*.log
\#*\#
*.pyc
*.suo
*.obj
*.tlog
*.idb
*.pdb
*.ipch
*.filters
*.sdf
*.opensdf
*.vcxproj.user
*.java.orig
**/.sonarqube/*
**/Debug/**
**/Release/**
*.log.server

nbactions.xml
nb-configuration.xml
